$primary: #21b4af;
$primary-hover: #25d1c3;
$primary-active: #175e66;

$secondary: #0515f2;
$secondary-hover: #4955ff;
$secondary-active: #020da7;

.container {
  width: 90%;
  height: 65vh;
  margin: auto;
  background-color: #0515f21f;
  backdrop-filter: blur(12px);
  border: 3px solid $primary;
  border-radius: 20px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $primary-active;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primary-hover;
  }

  h1 {
    text-align: center;
    color: $primary;
    text-shadow: 0 1px 1px aliceblue;
    letter-spacing: 2px;
  }

  form {
    display: flex;
    align-items: flex-start;
    width: 95%;
    margin: 20px auto;

    input {
      &:not(:first-child) {
        margin-top: 20px;
      }
      width: 100%;
      border: none;
      outline: none;
      background-color: #0b3e44;
      border: 1px solid $primary;
      height: 40px;
      text-indent: 10px;
      color: aliceblue;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;

      &:focus {
        background-color: #052e33;
      }
    }

    textarea {
      margin-top: 10px;
      width: 100%;
      padding: 5px 0;
      border: none;
      outline: none;
      background-color: #0b3e44;
      border: 1px solid $primary;
      text-indent: 10px;
      color: aliceblue;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;

      &:focus {
        background-color: #052e33;
      }
    }

    .mainInputs {
      width: 50%;
    }

    .additionalInputs {
      flex: 1;
      border: 2px solid rgb(39, 60, 78);
      padding: 10px;
      border-radius: 20px;
      margin-left: 40px;

      h2 {
        color: $primary;
        text-shadow: 0 1px 1px rgb(0, 0, 0);
        letter-spacing: 2px;
        margin: 0 5px 5px 5px;
      }

      .inputGroup {
        box-shadow: 0 0 1px black;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: #175e6627;
        padding: 10px;
        margin-top: 10px;

        .closeIcon {
          align-self: flex-end;
          font-size: 1.4rem;
          color: $primary-active;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: #053f46;
          }
        }
      }

      .addMoreBtn {
        margin-top: 15px;
        border: none;
        outline: none;
        background-color: $primary;
        width: 100px;
        height: 30px;
        border-radius: 7px;
        color: aliceblue;
        box-shadow: 0 0 2px black;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: $primary-hover;
          color: rgb(255, 255, 255);
        }

        &:active {
          background-color: $primary-active;
          color: rgb(177, 177, 177);
          transform: scale(0.97);
        }
      }
    }

    .submitBtn {
      margin-top: 20px;
      border: none;
      outline: none;
      background-color: $primary;
      width: 150px;
      height: 40px;
      text-transform: uppercase;
      border-radius: 7px;
      color: aliceblue;
      box-shadow: 0 0 2px black;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $primary-hover;
        color: rgb(255, 255, 255);
      }

      &:active {
        background-color: $primary-active;
        color: rgb(177, 177, 177);
        transform: scale(0.97);
      }
    }
  }
}
