$primary: #21b4af;
$primary-hover: #25d1c3;
$primary-active: #175e66;

$secondary: #0515f2;
$secondary-hover: #4955ff;
$secondary-active: #020da7;

.container {
  width: 90%;
  min-height: 70vh;
  margin: auto;
  background-color: #0515f21f;
  backdrop-filter: blur(12px);
  border: 3px solid $primary;
  border-radius: 20px;
  position: relative;

  @media (max-width: 1000px) {
    width: 100%;
    border-left: unset;
    border-right: unset;
    border-radius: unset;
  }

  h1 {
    text-align: center;
    color: $primary;
    text-shadow: 0 1px 1px aliceblue;
    letter-spacing: 2px;
  }

  .cancel {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $primary;
    width: 100px;
    height: 30px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-left: 3px solid #07c6c0;
    border-bottom: 3px solid #07c6c0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    .closeIcon {
      margin-right: 10px;
      font-size: 1.2rem;
    }

    &:hover {
      background-color: $primary-hover;

      .closeIcon {
        color: red;
      }

      span {
        font-weight: 600;
      }
    }
  }

  form {
    display: flex;
    align-items: flex-start;
    width: 95%;
    margin: 20px auto;

    input {
      &:not(:first-child) {
        margin-top: 20px;
      }
      width: 100%;
      border: none;
      outline: none;
      background-color: #0b3e44;
      border: 1px solid $primary;
      height: 40px;
      text-indent: 10px;
      color: aliceblue;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;

      &:focus {
        background-color: #052e33;
      }

      &:disabled {
        background-color: #a5a8a85d;
        border-color: gray;

        &::placeholder {
          color: rgba(197, 197, 197, 0.808);
        }
      }
    }

    textarea {
      margin-top: 10px;
      width: 100%;
      padding: 5px 0;
      border: none;
      outline: none;
      background-color: #0b3e44;
      border: 1px solid $primary;
      text-indent: 10px;
      color: aliceblue;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;

      &:focus {
        background-color: #052e33;
      }

      &:disabled {
        background-color: #a5a8a85d;
        border-color: gray;

        &::placeholder {
          color: rgba(197, 197, 197, 0.808);
        }
      }
    }

    .mainInputs {
      width: 50%;
    }

    .submitBtn {
      margin-top: 20px;
      border: none;
      outline: none;
      background-color: $primary;
      width: 150px;
      height: 40px;
      text-transform: uppercase;
      border-radius: 7px;
      color: aliceblue;
      box-shadow: 0 0 2px black;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $primary-hover;
        color: rgb(255, 255, 255);
      }

      &:active {
        background-color: $primary-active;
        color: rgb(177, 177, 177);
        transform: scale(0.97);
      }

      &:disabled {
        background-color: #a5a8a85d;
        color: rgba(240, 248, 255, 0.459);
        cursor: default;

        &:hover {
          background-color: #a5a8a85d;
          color: rgba(240, 248, 255, 0.459);
        }

        &:active {
          background-color: #a5a8a85d;
          color: rgba(240, 248, 255, 0.459);
          transform: none;
        }
      }
    }

    .submitBtnSmScreen {
      display: none;
    }

    @media (max-width: 700px) {
      flex-direction: column;

      .mainInputs {
        width: 100%;
      }

      .additionalInputs {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
      }

      .submitBtn {
        display: none;
      }

      .submitBtnSmScreen {
        display: block;
        margin-top: 20px;
        border: none;
        outline: none;
        background-color: $primary;
        width: 150px;
        height: 40px;
        text-transform: uppercase;
        border-radius: 7px;
        color: aliceblue;
        box-shadow: 0 0 2px black;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: $primary-hover;
          color: rgb(255, 255, 255);
        }

        &:active {
          background-color: $primary-active;
          color: rgb(177, 177, 177);
          transform: scale(0.97);
        }

        &:disabled {
          background-color: #a5a8a85d;
          color: rgba(240, 248, 255, 0.459);
          cursor: default;

          &:hover {
            background-color: #a5a8a85d;
            color: rgba(240, 248, 255, 0.459);
          }

          &:active {
            background-color: #a5a8a85d;
            color: rgba(240, 248, 255, 0.459);
            transform: none;
          }
        }

        @media (max-width: 400px) {
          width: 100%;
        }
      }
    }
  }
}
