$primary: #21b4af;
$primary-hover: #25d1c3;
$primary-active: #175e66;

$secondary: #0515f2;
$secondary-hover: #4955ff;
$secondary-active: #020da7;

.container {
  background-color: rgba(240, 248, 255, 0.123);
  backdrop-filter: blur(10px);
  width: 100%;
  min-height: 100vh;
  position: absolute;

  .icons {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .backHome {
      .homeIcon {
        font-size: 3rem;
        margin: 10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 5px;
        color: $primary;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: $primary-hover;
          box-shadow: 0 0 5px black;
          background-color: #175e66;
        }
      }
    }

    .logout {
      margin: 10px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      .logoutIcon {
        font-size: 3rem;
        color: $primary-active;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        box-shadow: 0 0 4px black;
        background-color: $primary-active;

        .logoutIcon {
          color: $primary-hover;
        }
      }
    }
  }

  .content {
    .col1 {
      width: 80%;
      margin: auto;
      margin-top: 30px;

      @media (max-width: 1000px) {
        width: 100%;
      }
    }

    hr {
      margin-top: 50px;
    }

    .col2 {
      width: 95%;
      min-height: 50vh;
      margin: 50px auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 2em;
      justify-items: center;

      .spinner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .noProjects {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: red;
        font-size: 1.3rem;
        text-shadow: 1px 1px 1px black;
      }

      @media (max-width: 400px) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    }
  }
}
